* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
}

.choice {
    height: 200px;
    width: 200px;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
}

.score-board {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
    font-size: 2rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 4rem;
}
#msg {
    margin-top: 4rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}